body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container > h1 {
    grid-column: 2 / 3;
    padding-top: 20px;
}

#container {
    display: grid;
    grid-template: auto 1fr / minmax(auto, 30%) minmax(40%, 100%);
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#headerAndGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#scoreHeader {
  padding: 30px;
  font-weight: 700;
  font-size: 30px;
}

#gridContainer {
    min-width: auto;
    width: 70%;
    height: 100%;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin: 20px;
}

.gridCell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 100px;
}

.gridCell:hover {
    background-color: gray;
}

.gridCell, #gridContainer {
    border: 1px solid black;
}

#sidebar {
    background-color: #7e7ec9;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#buttonsContainer > button {
    width: 100px;
    height: 50px;
}

#sidebarHeader {
  text-align: center;
}

#scorePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scorePanel > * {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

/* Lightbox */

#lightbox {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lightbox.on{
    visibility: visible;
}

#lightbox.off{
    visibility: hidden;
}

#playerInputsContainer, #formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formContainer {
    background-color: white;
    border: 8px solid black;
    width: 50%;
    height: 50%;
    padding: 5px;
}

#playerInputsContainer {
  gap: 5px;
  padding: 5px;
}

#optionsContainer {
  display: inline-grid;
  grid-template: auto auto / auto auto;
  justify-items: end;
  grid-gap: 5px;
  padding: 10px;
}